#header {
  position: fixed;
  top: 60;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(6, 99, 99, 0);
  background: linear-gradient(
    to right,
    rgba(255, 145, 2, 0),
    rgba(238, 2, 2, 0)
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  z-index: 1;
}
#header #logo {
  width: 180px;
  color: #fff4f4;
  margin-left: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
}
#header #logo #one {
  font-size: 16px;
  color: rgb(226, 17, 17);
}
#header #logo #two {
  color: #006aff;
  text-align: center;
  width: 82%;
  margin-left: -13px;
  font-size: 16px;
}

/* #header .login {
    width: 15%;
  }
  #header .login button {
    color: #ec4719;
    font-size: 18px;
    padding: 4px;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
  } */

#toggle {
  position: absolute;
  right: 0;
  width: 60px;
  height: 30px;
  /* background-color: rgba(6, 99, 99, 0.6); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 0.2s;
}
#toggle::before,
#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #ec4c12;
  transition: transform 0.2s;
}
#toggle::before {
  transform: translateY(-5px);
}
#toggle::after {
  transform: translateY(5px);
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
  color: rgb(6, 99, 99);
}

#menu_links {
  width: 50%;
  color: #fff4f4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 22px;
  /* position: relative; */
  /* height: 100%; */
  /* right: 60px; */
  /* background: rgba(6, 99, 99, 0.6); */
  background: linear-gradient(
    to right,
    rgba(255, 145, 2, 0.5),
    rgba(238, 2, 2, 0.5)
  );
  /* background-image: url("./static/images/dimagwa1.png"); */
  background-repeat: no-repeat;
  z-index: 1;

  transition: 0.5s;
  /* width: 0; */
  /* overflow: hidden; */
  position: fixed;
  bottom: -100%;
  right: 0;
  transition: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  flex-direction: column;
}
/* #menu_links.active {
    width: 690px;
  } */
#menu_links ul {
  position: relative;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
}
#menu_links ul li {
  /* position: relative; */
  list-style: none;
}

#header #menu_links.active {
  height: calc(100vh - 110px);
  bottom: 0;
  /* width: 100%; */
}

#menu_links ul li #link {
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 15px;
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#menu_links ul li #link:hover {
  color: #0c1ada;
  /* font-weight: bolder; */
  font-size: 1.3rem;
  /* background: #8c52ff; */
  border-radius: 10px;
}

/*--------------------------------- Responsiveness -------------------------------------------------------*/
@media (max-width: 1000.2px) {
  #header #logo {
    width: 180px;
  }
  #menu_links {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    flex-direction: column;
  }
  #header #menu_links.active {
    height: calc(100vh - 110px);
    bottom: 0;
    width: 100%;
  }
  #menu_links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: calc(100vh - 110px);
    margin-top: 40px;
  }
}
@media screen and (max-width: 719.9px) {
  #header #logo {
    width: 180px;
  }
  #header #menu_links.active {
    height: calc(100vh - 110px);
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #header {
    background: #fff;
  }
  #header #logo {
    width: 180px;
  }
  #header #menu_links.active {
    height: calc(100vh - 110px);
  }
  #labs_container {
    background-color: #f6f2ed;
    width: 100%;
    min-height: 100vh;
    margin-top: 111px;
    padding: 25px;
    position: relative;
  }
}
@media screen and (max-width: 300px) {
  #header #logo {
    width: 180px;
  }
  #header #logo #one {
    font-size: 85%;
  }
  #header #logo #two {
    font-size: 96%;
    margin-left: 25%;
  }
  #header #menu_links.active {
    height: calc(100vh - 110px);
  }
}
